# Dependencies
node_modules/



# Cypress artifacts
cypress/videos/
cypress/screenshots/
cypress/downloads/

# TypeScript build output
dist/
*.js.map

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local
